.center-box {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.font-logo {
    font-family: 'Heebo', sans-serif;
    font-size: 3em;
    margin: 20px;
}
